.msg-txt {
    height: 90%;
    width: 30%;
    font-family: monospace;
    font-size: 15px;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 30px 30px 30px 30px;
}

.msg {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.msg_title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    padding: 20px;
    text-shadow: 3px 3px 3px black;
}

#msg1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.imgs1 img {
    /* width: 100%; */
    /* max-width: 250px; */
    /* height: auto; */
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}