* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(imagens/subtle-prism.png);
    margin: 50px 0 35px 0px;
}

.conteiner {
    background-color: rgba(0,0,0,0.9);
    /* background-color: coral; */
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header_text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 23px;
    text-shadow: 2px 1px 1px black;
    padding: 20px;
}

.header {
    transition: background-color 0.5s ease-in-out;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}

.header:hover {
    background-color: rgba(173, 216, 230, 0.6);
    border-radius: 10px 10px 10px 10px;
}

.header::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: crimson;
    transition: width 0.3s ease, left 0.3s ease;
}

.header:hover::after {
    width: 100%;
    left:0;
}

a {
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 0px 75px 0px;
    /* height:400px; */
}

.main_img img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 30px 20px 30px 20px;
}

.main_txt {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main_title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    padding: 20px;
}

.main_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding: 20px;
}

li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
    color: black;
    text-shadow: 2px 2px 2px pink;
    list-style-type: none;
}

.main1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 75px 0px;
    text-align: center;
}

.main_txt1 {
    width: 70%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    text-align: left;
}
